# Local Video Paths
INPUT_VIDEO_PATH=data/input_videos/sample_match.mp4
OUTPUT_VIDEO_PATH=outputs/annotated_match.mp4

# Model Configurations
PLAYER_MODEL=models/yolov8n.pt
POSE_MODEL=models/yolov8n-pose.pt
CONFIDENCE_THRESHOLD=0.5
